
.ztree * {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: inherit;
}

.ztree {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 12px;
}

:host ::ng-deep .ztree li {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 14px;
  text-align: left;
  white-space: nowrap;
  outline: 0
}

:host ::ng-deep .ztree li ul {
  margin: 0;
  padding: 0 0 0 18px
}

:host ::ng-deep .ztree li ul.line {
  //background: url(assets/ng-tree/img/line_conn.gif) 0 0 repeat-y;
}


:host ::ng-deep .ztree li a {
  padding: 0;
  margin: 0;
  cursor: pointer;
  width: 100%;
  height: 30px;
  color: #333;
  background-color: transparent;
  text-decoration: none;
  vertical-align: top;
  display: inline-block;
  line-height: 30px;
}

:host ::ng-deep .ztree li a:hover {
  color:#000;
}


:host ::ng-deep .ztree li a.curSelectedNode span {
  color:#4c7daa;
}

:host ::ng-deep .ztree.hoverBar li a:hover:before{
  width: 100%;
  height: 30px;
  left: 0;
  position: absolute;
  content: '';
  z-index: -1;
  background: #e4e4e4;
}

:host ::ng-deep .ztree.hoverBar li a.curSelectedNode:before{
  width: 100%;
  height: 30px;
  left: 0;
  position: absolute;
  content: '';
  z-index: -1;
  background: #e4e4e4;
}

:host ::ng-deep .ztree.hoverBar li a.curSelectedNode span{
  color:#000;
}

:host ::ng-deep .ztree.hoverBar li a .dropdown{
  position: absolute;
  right: 0;
  width: 14px;
  height: 14px;
  margin-top: 8px;
  margin-right: 2px;
  background: url(assets/ng-tree/img/dropdown-hover.svg) no-repeat;
}

:host ::ng-deep .ztree.hoverBar li a .copy-movelist{
  position: absolute;
  z-index: 99999;
  right: 0;
  top: 18px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  box-shadow: 0 0 5px rgba(165,165,165,.1);
  padding: 0;
}

:host ::ng-deep .ztree.hoverBar li a .copy-movelist li {
  display: block;
  padding: 0 12px;
  font-weight: 400;
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

:host ::ng-deep .ztree.hoverBar li a .copy-movelist li:hover {
  background: #f5f5f5;
}

:host ::ng-deep .ztree .switch+a{
  width: calc(100% - 30px);
}

:host ::ng-deep .ztree .switch.chk+a{
  width: calc(100% - 60px);
}

:host ::ng-deep .ztree li a.curSelectedNode_Edit {
  padding-top: 0;
  background-color: #ffe6b0;
  color: black;
  height: 14px;
  border: 1px #ffb951 solid;
  opacity: 0.8;
}

:host ::ng-deep .ztree li a.tmpTargetNode_inner {
  padding-top: 0px;
  background-color: #316ac5;
  color: white;
  height: 14px;
  border: 1px #316ac5 solid;
  opacity: 0.8;
  filter: alpha(opacity=80)
}

:host ::ng-deep .ztree li a.tmpTargetNode_prev {
}

:host ::ng-deep .ztree li a.tmpTargetNode_next {
}

:host ::ng-deep .ztree li a input.rename {
  height: 14px;
  width: 80px;
  padding: 0;
  margin: 0;
  font-size: 12px;
  border: 1px #7ec4cc solid;
  *border: 0px
}

:host ::ng-deep .ztree li span {
  line-height: 14px;
  margin-right: 2px
}

:host ::ng-deep .ztree li span.button {
  line-height: 0;
  margin: 0;
  width: 14px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  border: 0 none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

:host ::ng-deep .ztree li span.button.chk {
  width: 14px;
  height: 14px;
  margin: 8px 12px 0 0;
  cursor: auto;
}

:host ::ng-deep .ztree li span.button.chk.checkbox_false_full {
  background: url(assets/ng-tree/img/check-normal.svg) no-repeat;
}

:host ::ng-deep .ztree li span.button.chk.checkbox_false_full_focus {
  background: url(assets/ng-tree/img/check-normal.svg) no-repeat;
}

:host ::ng-deep .ztree li span.button.chk.checkbox_false_part {
  background: url(assets/ng-tree/img/check-normal.svg) no-repeat;
}

:host ::ng-deep .ztree li span.button.chk.checkbox_false_part_focus {
  background: url(assets/ng-tree/img/check-normal.svg) no-repeat;
}

:host ::ng-deep .ztree li span.button.chk.checkbox_false_disable {
  background: url(assets/ng-tree/img/check-normal.svg) no-repeat;
}

:host ::ng-deep .ztree li span.button.chk.checkbox_true_full {
  background: url(assets/ng-tree/img/check-active.svg) no-repeat;
}

:host ::ng-deep .ztree li span.button.chk.checkbox_true_full_focus {
  background: url(assets/ng-tree/img/check-active.svg) no-repeat;
}

:host ::ng-deep .ztree li span.button.chk.checkbox_true_part {
  background: url(assets/ng-tree/img/check-active.svg) no-repeat;
}

:host ::ng-deep .ztree li span.button.chk.checkbox_true_part_focus {
  background: url(assets/ng-tree/img/check-active.svg) no-repeat;
}

:host ::ng-deep .ztree li span.button.chk.checkbox_true_disable {
  background: url(assets/ng-tree/img/check-active.svg) no-repeat;
}

:host ::ng-deep .ztree li span.button.chk.radio_false_full {
  background: url(assets/ng-tree/img/radio-normal.svg) no-repeat;
}

:host ::ng-deep .ztree li span.button.chk.radio_false_full_focus {
  background: url(assets/ng-tree/img/radio-normal.svg) no-repeat;
}

:host ::ng-deep .ztree li span.button.chk.radio_false_part {
  background: url(assets/ng-tree/img/radio-normal.svg) no-repeat;
}

:host ::ng-deep .ztree li span.button.chk.radio_false_part_focus {
  background: url(assets/ng-tree/img/radio-normal.svg) no-repeat;
}

:host ::ng-deep .ztree li span.button.chk.radio_false_disable {
  background: url(assets/ng-tree/img/radio-normal.svg) no-repeat;
}

:host ::ng-deep .ztree li span.button.chk.radio_true_full {
  background: url(assets/ng-tree/img/radio-active.svg) no-repeat;
}

:host ::ng-deep .ztree li span.button.chk.radio_true_full_focus {
  background: url(assets/ng-tree/img/radio-active.svg) no-repeat;
}

:host ::ng-deep .ztree li span.button.chk.radio_true_part {
  background: url(assets/ng-tree/img/radio-active.svg) no-repeat;
}

:host ::ng-deep .ztree li span.button.chk.radio_true_part_focus {
  background: url(assets/ng-tree/img/radio-active.svg) no-repeat;
}

:host ::ng-deep .ztree li span.button.chk.radio_true_disable {
  background: url(assets/ng-tree/img/radio-active.svg) no-repeat;
}

:host ::ng-deep .ztree li span.button.switch {
  width: 14px;
  height: 14px;
  margin-top: 8px;
  margin-right: 4px;
}

:host ::ng-deep .ztree li span.button.root_open {
  background: url(assets/ng-tree/img/treeRight-icon.svg) no-repeat center left;
}

:host ::ng-deep .ztree li span.button.root_close {
  background: url(assets/ng-tree/img/treeRight-icon.svg) no-repeat center left;
}

:host ::ng-deep .ztree li span.button.roots_open {
  background: url(assets/ng-tree/img/treeRight-icon.svg) no-repeat center left;
}

:host ::ng-deep .ztree li span.button.roots_close {
  background: url(assets/ng-tree/img/treeRight-icon.svg) no-repeat center left;
}

:host ::ng-deep .ztree li span.button.center_open {
  background: url(assets/ng-tree/img/treeRight-icon.svg) no-repeat center left;
}

:host ::ng-deep .ztree li span.button.center_close {
  background: url(assets/ng-tree/img/treeRight-icon.svg) no-repeat center left;
}

:host ::ng-deep .ztree li span.button.bottom_open {
  background: url(assets/ng-tree/img/treeRight-icon.svg) no-repeat center left;
}

:host ::ng-deep .ztree li span.button.bottom_close {
  background: url(assets/ng-tree/img/treeRight-icon.svg) no-repeat center left;
}

:host ::ng-deep .ztree li span.button.noline_open {
  background: url(assets/ng-tree/img/treeRight-icon.svg) no-repeat center left;
}

:host ::ng-deep .ztree li span.button.noline_close {
  background: url(assets/ng-tree/img/treeRight-icon.svg) no-repeat center left;
}

:host ::ng-deep .ztree li span.button.root_docu {
  background: none;
}

:host ::ng-deep .ztree li span.button.roots_docu {
  background: url(assets/ng-tree/img/table.svg) no-repeat;
}

:host ::ng-deep .ztree li span.button.center_docu {
  background: none;
}

:host ::ng-deep .ztree li span.button.bottom_docu {
  background: none;
}

:host ::ng-deep .ztree li span.button.noline_docu {
  background: none;
}

:host ::ng-deep .ztree li span.button.ico_open {
  margin-top: 8px;
  margin-right: 12px;
  background: url(assets/ng-tree/img/08-14-14.svg) no-repeat;
  vertical-align: top;
  *vertical-align: middle;
}

:host ::ng-deep .ztree li span.button.ico_close {
  margin-top: 8px;
  margin-right: 12px;
  background: url(assets/ng-tree/img/08-14-14.svg) no-repeat;
  vertical-align: top;
  *vertical-align: middle;
}

:host ::ng-deep .ztree li span.button.ico_docu {
  margin-top: 8px;
  margin-right: 12px;
  background: url(assets/ng-tree/img/table.svg) no-repeat;
  vertical-align: top;
  *vertical-align: middle;
}

:host ::ng-deep .ztree li span.button.edit {
  margin-right: 2px;
  background-position: -110px -48px;
  vertical-align: top;
  *vertical-align: middle
}

:host ::ng-deep .ztree li span.button.remove {
  margin-right: 2px;
  background-position: -110px -64px;
  vertical-align: top;
  *vertical-align: middle
}

:host ::ng-deep .ztree li span.button.ico_loading {
  margin-right: 2px;
  /*background: url(./img/loading.gif) no-repeat scroll 0 0 transparent;*/
  vertical-align: top;
  *vertical-align: middle
}

:host ::ng-deep ul.tmpTargetzTree {
  background-color: #ffe6b0;
  opacity: 0.8;
  filter: alpha(opacity=80)
}

:host ::ng-deep span.tmpzTreeMove_arrow {
  width: 14px;
  height: 14px;
  display: inline-block;
  padding: 0;
  margin: 2px 0 0 1px;
  border: 0 none;
  position: absolute;
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -110px -80px;
  /*background-image: url("./img/zTreeStandard.png");*/
  /**background-image: url("./img/zTreeStandard.gif")*/
}

:host ::ng-deep ul.ztree.zTreeDragUL {
  margin: 0;
  padding: 0;
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
  background-color: #cfcfcf;
  border: 1px #00b83f dotted;
  opacity: 0.8;
  filter: alpha(opacity=80)
}

:host ::ng-deep .zTreeMask {
  z-index: 10000;
  background-color: #cfcfcf;
  opacity: 0.0;
  filter: alpha(opacity=0);
  position: absolute
}
