<demo-section>
  <div id="content" class="content-box">

    <div class="image-responsive img-fluid main-logo">
      <img class="mx-auto center-block d-block" src="assets/images/logos/ngx-bootstrap-logo.svg"
           alt="ng-dap" width="200" height="120">
    </div>

    <h1 align="center">
      <a href="https://github.com/valor-software/ngx-bootstrap">ng-dap</a>
    </h1>

    <div class="section">

      <h2>快速开始</h2>
      <ol>
        <li><a routerLink="." fragment="getting-started">开始</a></li>
      </ol>

      <h2 id="getting-started">开始</h2>

      <p>如何使用如何使用</p>

      <h2 id="installation-instructions">使用说明</h2>

      <p>Install <code>ng-dap</code> from <code>npm</code></p>
      <pre class="prettyprint lang-bash prettyprinted"><span class="pln">npm install ng</span><span class="pun">-</span><span class="pln">dap</span><span class="pun">--</span><span class="pln">save</span></pre>
    </div>
  </div>
</demo-section>
