<div class="main">
  <!-- begin entry block -->
  <section class="entry container-fluid text-center">
    <div class="content-logo">
      <img src="assets/images/logos/content-logo.svg" alt="ng-dap">
    </div>
    <h1 class="slogan">dap 组件库</h1>
    <p class="descr">基于Angular</p>
    <div class="btn-block">
      <a class="btn btn-primary" routerLink="/getting-started">开始</a>
      <a class="btn btn-outline-secondary" href="#">Github</a>
    </div>
    <p class="version">{{currentVersion}}</p>
  </section>
  <!-- end entry block -->

</div>

